<div class="ui divider"></div>

<h2 class="ui header">
    <i class="calendar alternate icon"></i>
    <div class="content">
        Dashboard
        <div class="sub header">Progress of the project stories</div>
    </div>
</h2>

{{ q['steps-grid'] | raw }}
{{ script_foot | raw }}